In [1]:
import csv
import requests as rq
from bs4 import BeautifulSoup as bs
import pandas as pd

In [2]:
with open('books_details.csv','w') as f:
    fnames=['names','rates','prices']
    writer=csv.DictWriter(f,fieldnames=fnames)
    writer.writeheader()
    url='http://books.toscrape.com/catalogue/category/books/science_22/index.html'
    response=rq.get(url)
    response=response.text
    soup=bs(response,'html.parser')
    all_l=soup.find('ol',attrs={'class':'row'}).find_all('li')
    rate={'One':1,'Two':2,'Three':3,'Four':4,'Five':5}
    
    for i in range(0,len(all_l)):
        names=all_l[i].h3.a.get_text()
        rates=all_l[i].p.get_attribute_list('class')[1]
        prices=all_l[i].find('p',attrs={'class':'price_color'}).get_text().split('Â£')[1]
        
        data={'names':names,'rates':rate[rates],'prices':prices}
        writer.writerow(data)

In [3]:
file=pd.read_csv('books_details.csv')
file

                                      names  rates  prices
0               The Most Perfect Thing: ...      4   42.96
1        Immunity: How Elie Metchnikoff ...      5   57.36
2                 Sorting the Beef from ...      4   44.74
3              Tipping Point for Planet ...      1   37.55
4                     The Fabric of the ...      1   55.91
5                    Diary of a Citizen ...      1   28.41
6                     The Origin of Species      4   10.01
7                          The Grand Design      3   13.76
8                Peak: Secrets from the ...      2   16.28
9   The Elegant Universe: Superstrings, ...      4   13.03
10          The Disappearing Spoon: And ...      5   57.35
11            Surely You're Joking, Mr. ...      2   25.83
12               Seven Brief Lessons on ...      4   30.60
13                         The Selfish Gene      1   29.45

In [4]:
file.describe()

           rates     prices
count  14.000000  14.000000
mean    2.928571  33.088571
std     1.542440  16.725702
min     1.000000  10.010000
25%     1.250000  18.667500
50%     3.500000  30.025000
75%     4.000000  44.295000
max     5.000000  57.360000